.pinaka-labas-lalagyan{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.pinaka-lalagyan{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.evidence-lalagyan{
    position: relative;
    display: flex;
    justify-content: center;
}

.reset-lalagyan{
    justify-content: center;
}