.parent-card-mobile{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    width: 315px;
    height: 101px;
    border-radius: 5px;
    box-shadow: 0 0 0 1pt white;
    margin-bottom: 20px;
    margin: 20px;
}

.parent-card-mobile-locked{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #7F7F7F;
    width: 315px;
    height: 71px;
    border-radius: 5px;
    box-shadow: 0 0 0 1pt #7F7F7F;
    margin: 20px;
}

.evidence-number-mobile{
    background-color: transparent;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}

.evidence-lalagyan-mobile{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 315px;
    height: 60px;
    border-radius: 5px;
    background-color: black;
}

.evidence-lalagyan-mobile-locked{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 315px;
    height: 30px;
    border-radius: 5px;
    background-color: black;
}

.radio{
    display: hidden;
    visibility: hidden;
}

.label-mobile{
    position: absolute;
    display: flex;
    background-color: transparent;
    height: 30px;
    width: 105px;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.label-mobile-locked{
    background-color: transparent;
    color: #FF4040;
    font-size: 12px;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.unclicked-mobile{
    background-color: black;
    position: relative;
    color: white;
    height: 30px;
    width: 105px;
    font-size: 12px;
    border: none;
    outline: none;
}

.unclicked-mobile:hover{
    background-color: #6FB7BC;
    transition: all 0.5s ease-out;
}

.unclicked-mobile:first-of-type{
    border-top-left-radius: 5px;
}

.unclicked-mobile:nth-child(3){
    border-top-right-radius: 5px;
}

.unclicked-mobile:nth-child(4){
    border-bottom-left-radius: 5px;
}

.unclicked-mobile:nth-child(6){
    border-bottom-right-radius: 5px;
}

.clicked-mobile{
    background-color: #78E3EA;
    position: relative;
    color: #FF4040;
    height: 30px;
    width: 105px;
    font-size: 12px;
    border: none;
    outline: none;
}

.clicked-mobile:first-of-type{
    border-top-left-radius: 5px;
}

.clicked-mobile:nth-child(3){
    border-top-right-radius: 5px;
}

.clicked-mobile:nth-child(4){
    border-bottom-left-radius: 5px;
}

.clicked-mobile:nth-child(6){
    border-bottom-right-radius: 5px;
}